<h4><%= @heading %></h4>

<div class="container">
  
</div>

<!-- <div class="container">
  <h2>Task:</h2>
  <p>Суть приложения состоит в отображении списка публикаций, по которому можно будет переходить
    к детальному отображению выбранного поста и комментариев к нему. Это если в целом.
    Дальше, понятное дело, нужно реализовать регистрацию пользователей, которые собственно
     будут добавлять эти посты и комментировать их. Исходя из этого, проект должен содержать следующее:
     <ul>
       <li>- Страничка профиля для зарегестрированных пользователей
       </li>
       <li>- Анонимные пользователи (не залогиненные в систему) могут только смотреть посты
         (комментарии под постами для них тоже невидны)
       </li>
       <li>- Зарегестрированные пользователи могут создавать свои посты, комментировать чужие посты и
          просматривать чужие комментарии. Ну и соответственно редактировать/удалять свои материалы
       </li>
       <li>- Некоторые пользватели могут быть модераторами, они смогут изменять материалы других пользователей
       </li>
       <li>- Реализовать так называемое каскадное удаление (удаляем статью - удаляются все комментарии к ней,
         удаляем пользователя - удаляем все материалы пользователя)
       </li>
     </ul>
     После этого нужно будет покрыть это все юнит-тестами и интеграционными тестами и, если все пройдет гладко,
      то можно будет затронуть тему написания API. Ну понятно что нужно это все как-то оформить, нацепить стили и т.д.
    </p>
</div> -->
