  <br>
  <!-- <div class="alert  bg-dark text-white rounded">
    <h1>All post:</h1>
  </div> -->

  <% @post.each do |post| %>
    <div class="alert shadow-lg  bg-dark rounded">
      <span class="float-right text-muted">
        <%= current_user.name%>
      </span><br>
    <h3><%= post.title %></h3>
    <div class="container">
      <p><%= post.body.truncate_words(40) %></p>
    </div>
    <%= link_to "Читать далее", post_path(post), :class => 'btn btn-outline-warning' %>
    <p class="float-right text-muted">11 нояб. 2018г.</p>
    </div>
  <% end %>

<%# container bg-dark text-white rounded %>
